-
  const users = [
    {
      name: 'Кодовёнок',
      surname: 'Хекслетович',
      login: 'hexlet-code',
      scores: 1271
    },
    {
      name: 'Король',
      surname: 'Вёрстки',
      login: 'king-of-layout',
      scores: 1100
    },
  ]

doctype html
html
  head
    title Циклы
  body
    section.container
      h2 Рейтинг пользователей

      table
        thead
          tr
            th Имя
            th Фамилия
            th Логин
            th Баллы
        tbody
          // Цикл (else - если users пустой)
          each user in users
            tr
              td= user.name
              td= user.surname
              td= user.login
              td= user.scores
          else
            tr
              td(colspan='4') Нет пользователей
