doctype html
html
  head 
    meta(chartset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    // Строчные элементы расположатся в строку в итоговом Html
    span Первый спан
    span Второй спан

    // Inline-стиль
    p Пишем сразу после тека

    // Pipe-стиль
    p
      | Можно писать
      | В несколько строк

    // Блочный стиль
    p.
      После тега ставится точка. 
      И можно писать спокойно в несколько строк
      без дополнительных знаков

    // Вложенность
    section 
      p Вложенный в section абзац

    // Атрибуты
    section#section_id_2.sections
    section(id="section_id" class="sections")


    // Указывая сразу класс, мы создаём div
    .items 
      .item Товар 1
      .item Товар 2

    // Интерполяция тегов
    p.
      Внутрь текста параграфа, можно поместить #[strong любой тег],
      а можно и с помощью <i>обычного тега</i>

    // Пробельные символы (пустые pipe, html-мнемоники)
    div
      | Нужно вставить тег
      |
      button Например кнопку
      |
      | но сохранить перед ней и после пробелы&nbsp;
      button Или ещё одну кнопку
      | &nbsp;а потом снова текст

